
<div class="col-4 form-group">
  <label>Categoría</label>
  <select required [(ngModel)]="cod_categoria" (change)="listarcategoria()" class="form-control" name="categoria">
    <option *ngFor="let categoria of 
    categorias" [value]="categoria.COD_CATEGORIA">
      {{categoria.DESCRIPCION}}
    </option>
  </select>
</div>

<div class="container py-3 table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table" >
    <thead>
      <tr class="text-center">
        <th scope="col">CODIGO</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">FECHA_CREACION</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subcategoria of subcategorias" class="text-center">
        <th scope="row">{{subcategoria.COD_SUB_CATEGORIA}}</th>
        <td>{{subcategoria.NOMBRE}}</td>
        <td>{{subcategoria.FECHA_CREACION | date: 'dd/MM/yyyy'}}</td>
        <td>
          <button type="button" (click)="update(subcategoria)" class="btn btn-link">Modificar</button>
          <button type="button" (click)="delete(subcategoria.COD_SUB_CATEGORIA)" class="btn btn-link">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
    <div class="container py-3">
      <form (ngSubmit)="saveSubcategoria()">
        <div class="col-4 form-group">
          <label>COD_SUBCATEGORIA</label>
          <input type="text" class="form-control" id="COD_SUB_CATEGORIA" required 
            name="COD_SUB_CATEGORIA"  [(ngModel)]="subcategoria.COD_SUB_CATEGORIA">
        </div>
        <div class="col-4 form-group">
          <label>Categoría</label>
          <select required [(ngModel)]="subcategoria.COD_CATEGORIA" class="form-control" name="categoria">
            <option *ngFor="let categoria of 
            categorias" [value]="categoria.COD_CATEGORIA">
              {{categoria.DESCRIPCION}}
            </option>
          </select>
        </div>
        <div class="col-4 form-group">
          <label>NOMBRE</label>
          <input type="text" class="form-control" id="NOMBRE" required 
            name="NOMBRE"  [(ngModel)]="subcategoria.NOMBRE">
        </div>
        
        <div class="col-4 form-group">
          <label>DESCRIPCION </label>
          <input type="text" class="form-control" id="DESCRIPCION " required [(ngModel)]="subcategoria.DESCRIPCION " name="DESCRIPCION ">
        </div>
        <div class="col-4 form-group">
          <label>Fecha</label>
          <input type="date" class="form-control" id="FECHA_CREACION" required [(ngModel)]="subcategoria.FECHA_CREACION"
            name="FECHA_CREACION">
        </div>
        <div class="col-4 form-group">
          <button type="submit" class="btn btn-success">{{action}}</button>
          <button type="button"  (click)="cancel()" class="btn btn-secondary">Cancelar</button>

        </div>
      </form>
    </div>
  </div>
